@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    /* font: inherit; */
    vertical-align: baseline;
    font-family: 'Noto Sans KR','Apple SD Gothic Neo','malgun gothic','맑은 고딕','돋움','dotum';
    text-decoration: none;
    color: #666;
}

header{
	background: #fff;
    min-height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    border-bottom: 1px #ddd solid;
}
.ml10 {
    margin-left: 10px !important;
}
header .container{
	position: relative;
}
header .ml5{
	margin-left: 5px !important;
}
.container{
	
	max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header h1{
	position: absolute;
    left: 15px;
    top: 0;
    width: 110px;
    height: 80px;
}
header #gnb{
	float: left;
}
ol, ul{
	list-style: none;
}
header #gnb .menu li {
    float: left;
}
header #gnb .menu li > a {
    padding: 0 15px;
    display: block;
    line-height: 80px;
    color: #222;
    font-size: 18px;
    float: left;
    top: 0;
}
header #gnb .menu li:first-child {
	margin-left:210px; 
}
header h1 a{
	display: block;
    width: 100%;
    height: 100%;
	background: url("/img/header/header_ci.png")  no-repeat 0 0;;
    text-indent: -9999px;
}
header #quick:after{
	display: inline-block;
    width: 9px;
    height: 14px;
    vertical-align: middle;
    content: "";
    background: url("/img/header/quick_ico.jpg") no-repeat center/contain;
    margin-left: 5px;
}

header #util{
	position: absolute;
    right: 0;
    top: 30px;
}
header #util > div.login {
    margin-left: 20px;
}
header #util>div{
	float: left;
	
}
header #util>div a{
	width: 20px;
    height: 20px;
    display: block;
    text-indent: -9999px;
} 
header #top-search{
	background: url("/img/header/header_util.png") no-repeat -20px 0;
}
header #util .search-act {
    width: 100%;
    height: 120px;
    background: #f5f5f5;
    position: fixed;
    left: 0;
    top: 80px;
    display: none;
    border-bottom: 1px solid #ccc;
}
.ribbon-on header #util .search-act {
    top: 160px;
}
header #util .search-act .container .form input[type="text"] {
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
    text-indent: 30px;
    height: 60px;
    width: 500px;
    border: none;
}
header #util .search-act .container .form button {
    float: right;
    width: 60px;
    height: 60px;
    background: url(/img/header/header_btn_search.png) no-repeat center;
}
header #util .search-act .container .form {
    display: inline-block;
    height: 60px;
    background: #fff;
    width: 570px;
    text-align: left;
}
header #util .search-act .container {
    text-align: center;
    padding-top: 30px;
    position: relative;
}
header #util .search-act .container .search-close {
    position: absolute;
    right: 0;
    width: 21px;
    height: 21px;
    background: url(/img/header_close.png) no-repeat center;
    top: 50px;
    text-indent: -9999px;
}
header #util .quick a{
	display: block;
    width: 164px;
    height: 80px;
    background: #008bca;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 80px;
    text-indent: 0;
}
header #util .quick{
	position: absolute;
    right: 0;
    top: -30px;
}
/*  quick-act */

header #util .quick-act {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 10;
}
header #util .quick-act .quick-wrap {
    width: 370px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
}
header #util .quick-act .quick-wrap .top {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-indent: 20px;
    line-height: 80px;
    background: #008bca;
}
header #util .quick-act .quick-wrap .quick-close {
    width: 80px;
    height: 80px;
    background: url(/img/header/quick_close.jpg) no-repeat center/contain;
    position: absolute;
    top: 0;
    right: 0;
}
header #util .quick-act .quick-wrap ul {
    height: calc(100vh - 80px);
    width: 100%;
}
header #util .quick-act .quick-wrap ul li {
    height: calc(100% / 5);
    display: table;
    width: 100%;
}
header #util .quick-act .quick-wrap ul li:nth-child(1) {
    background: url(/img/header/quick3.jpg) no-repeat center/cover;
}
header #util .quick-act .quick-wrap ul li:nth-child(2) {
    background: url(/img/header/quick4.jpg) no-repeat center/cover;
}
header #util .quick-act .quick-wrap ul li:nth-child(3) {
    background: url(/img/header/quick2.jpg) no-repeat center/cover;
}
header #util .quick-act .quick-wrap ul li:nth-child(4) {
    background: url(/img/header/quick5.jpg) no-repeat center/cover;
}
header #util .quick-act .quick-wrap ul li:nth-child(5) {
    background: url(/img/header/quick1.jpg) no-repeat center/cover;
}
header #util .quick-act .quick-wrap ul li a {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    display: table-cell;
    text-indent: 0;
    vertical-align: middle;
}
header #util .quick-act .quick-wrap ul li a:hover {
    border: 5px #fff solid;
}
header #util .quick-act .quick-wrap ul li a:hover:after {
    display: inline-block;
    width: 24px;
    height: 18px;
    content: "";
    margin-left: 5px;
    background: url(/img/header/quick_arrow.png) no-repeat center/contain;
}
/* quick-act 끝 */
header #all-menu{
	position: absolute;
    right: 204px;
    top: 30px;
}
header #all-menu>a{
	width: 20px;
    height: 20px;
    display: block;
	background: url("/img/header/header_util.png") no-repeat 0 0;
}
header .language{
	margin-left: 20px;
    margin-right: 240px;
}
header .login>a{
	background: url("/img/header/header_util.png") no-repeat -80px 0;
}
header .language>a{
	background: url("/img/header/header_util.png") no-repeat -60px 0;
}
header .withposco{
	position: absolute;
    right: -180px;
    top: 23px;
}