@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    /* font: inherit; */
    vertical-align: baseline;
    font-family: 'Noto Sans KR','Apple SD Gothic Neo','malgun gothic','맑은 고딕','돋움','dotum';
    text-decoration: none;
    color: #666;
}
header{
	background: #fff;
    min-height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    border-bottom: 1px #ddd solid;
}
.container-full{
	width: 100%;
}
header .container{
	position: relative;
}
.container{
	
	max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1{
	position: absolute;
    left: 15px;
    top: 0;
    width: 110px;
    height: 80px;
}
header #gnb{
	float: left;
}
ol, ul{
	list-style: none;
}
li{
	padding: 0 15px;
    display: block;
    line-height: 80px;
    color: #222;
    font-size: 18px;
    float: left;
    top: 0;
}
#gnb .menu li:first-child {
	margin-left:210px; 
}
header h1 a{
	display: block;
    width: 100%;
    height: 100%;
	background: url("/img/header_ci.png")  no-repeat 0 0;;
    text-indent: -9999px;
}